<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
</head>
<body>
<h1>Produtos</h1>

<!-- Link para criar um novo produto -->
<a href="/novo">Adicionar Produto</a>
<br/><br/>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Ações</th>
    </tr>
    <tr th:each="p : ${produtos}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.nome}"></td>
        <td th:text="${p.preco}"></td>
        <td>
            <a th:href="@{'/editar/' + ${p.id}}">Editar</a> |
            <a th:href="@{'/excluir/' + ${p.id}}">Excluir</a>
        </td>

    </tr>
</table>

</body>
</html>
